export(get_k)
export(get_k)
export(get_bubbletree)
export(update_bubbletree)
export(dummy_bubbletree)
export(get_gini)
export(get_gini_k)
export(get_cat_feature_tiles)
export(get_num_feature_tiles)
export(get_num_feature_violins)
import(methods)
import(stats)
import(ggtree)
import(ggplot2)
importFrom(reshape2,acast)
importFrom(reshape2,melt)
importFrom(treeio,as.phylo)
importFrom(ape,prop.clades)
importFrom(ape,unroot)
importFrom(parallel, mclapply)
