export(get_k)
export(get_r)
export(get_bubbletree_kmeans)
export(get_bubbletree_graph)
export(get_bubbletree_dummy)
export(get_gini)
export(get_gini_k)
export(get_cat_tiles)
export(get_num_tiles)
export(get_num_violins)
import(ggplot2)
import(ggtree)
import(patchwork)
import(methods)
import(utils)
importFrom(reshape2, acast)
importFrom(reshape2, melt)
importFrom(ape, as.phylo)
importFrom(ape, unroot)
importFrom(ape, prop.clades)
importFrom(ape, is.rooted)
importFrom(ape, cophenetic.phylo)
importFrom(parallel, mclapply)
importFrom(scales, pretty_breaks)
importFrom(Seurat, FindClusters)
importFrom(Seurat, FindNeighbors)
